<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>集食惠首页</title>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="bookmark" href="/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    

   <script src="js/lib/jquery/jquery-1.12.4.min.js"></script>
   <script src="js/lib/jquery_plugins/jquery.cookie.js"></script>
   <script src="js/lib/arttemplate/template-native.js"></script>
   <script src="js/lib/jquery_plugins/jquery.fly.min.js"></script>
   <script src="js/index.js"></script>



 <!-- ****头部****************************************************************** -->
   <div id="headcon">

   </div>

  <!-- ***banner************************************************************ -->
   <div id="banner">
      <!-- banner -->
      <div id="banncon">
        <ul class="imgs">
          <li style="display:block;"><a href="#"><img src="images/banner1.jpg"></a></li>
          <li><a href="#"><img src="images/banner2.jpg"></a></li>
          <li><a href="#"><img src="images/banner3.jpg"></a></li>
          <li><a href="#"><img src="images/banner4.jpg"></a></li>
          <li><a href="#"><img src="images/banner5.jpg"></a></li>
        </ul>

        <div id="pages">
            <!-- <div class="current"></div>
            <div></div>
            <div></div>
            <div></div> -->
       </div>
    <div id="prev">&lt;</div>
    <div id="next">&gt;</div>

      </div>
    


<!-- banner中公告****************************************** -->
      <div class="public">
         <h1><i></i><span>集食惠公告</span></h1>
           <div class="pubbox">
             <ul class="pubul">
              <li><a href="#">公告</a></li>
              
              <li><a href="#">公告</a></li>
              <li><a href="#" style="color:red;">公告</a></li>
              <li><a href="#">公告11</a></li>
              <li><a href="#">公告</a></li>
              <li><a href="#" style="color:red;">公告11</a></li>
              <li><a href="#">公告</a></li>
              <li><a href="#">公告</a></li>
              
            </ul>
          </div>
      </div>
 
<!-- **************banner中轮播 ************************************-->
     <div class="bancar">
         <ul class="bancarq clearfix">
            <li>
               <span>银耳150g</span>
                <p>源于自然 美味健康</p>
                <h1 class="tuiprice"> 
                  <h3>￥<b>21</b>.00</h3>   
                       <!--   <img src="images/ban1.jpg"> -->        
                </h1>
            </li>
            <li>
               <span>面包250g</span>
                <p>源于自然 美味健康</p>
                <h1 class="tuiprice" title="面包">       
                  <h3>￥<b>21</b>.00</h3>            
                         <!-- <img src="images/ban2.jpg"> -->
                </h1>
            </li>
         </ul>
         <div class="smallpage">
              <!-- <div></div>
              <div></div> -->
         </div>
     </div>
</div>

<!-- ***************** -->
<!-- *热销推荐*********************************************************** -->
<div id="hotlist">
   <div class="center clearfix">
   <div class="hotsug">
             <ul class="hottitles">
                  <li><h2 class="hottitle">热销推荐</h2></li>
                  <li><h2 class="hottitle">新品上市</h2></li>
                  <li><h2 class="hottitle">品牌专区</h2></li>
             </ul>  

<!-- *********** -->
          <ul class="hotpro clearfix">
             <li class="hot1">  
   
             </li>
             <!-- *********************** -->
               <li class="hot2">
               
               
             </li>
               <!-- *********************** -->
              <li class="hot3">
                
            
             </li> 

           </ul>

</div>  <!-- hotsug -->

<!-- ******************************************************************* -->
  <div class="limtime">
      <div class="limtitle">
        <span>限时</span>抢购
        <a href="#">下期预告</a>
      </div>
      <div class="timing">
          <span>抢购时间</span>
          <div class="tim">
             <span class="day">00</span>
             <b>:</b>
             <span class="hour">00</span>
             <b>:</b>
             <span class="minute">00</span>
             <b>:</b>
             <span class="second">00</span> 
          </div>
      </div>
  </div>

  </div> <!-- center -->
</div> <!--  hotlist -->

<!-- **滑动区域************************************************************* -->
<div id="slid">
   <div class="center">
      <ul class="sliimg">
          <li class="ac"><a href="#"><img src="images/sli1.jpg"></a></li>
          <li><a href="#"><img src="images/sli2.jpg"></a></li>
          <li><a href="#"><img src="images/sli3.jpg"></a></li>
          <li><a href="#"><img src="images/sli4.jpg"></a></li>
          <li><a href="#"><img src="images/sli5.jpg"></a></li>
          
      </ul>

   </div> <!-- center -->
</div><!-- slid -->

<!-- *一楼效果**************************************************** -->
<div class="floor" id="f1" >
  <div class="center">
    <div class="floor1 clearfix"> 
         <div class="onefcarf">
          <p>1F  果蔬生鲜</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="onetab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="onetab2 tab clearfix">
                  
                  
              </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="onetab3 clearfix">
                      
                    </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor1 -->

   </div><!-- clearfix -->
</div>  <!-- 1f -->

<!-- *二楼效果哟************************************************************** -->
<div class="floor"  id="f2" >

<div class="center">
    <div class="floor2 clearfix"> 
         <div class="onefcarf">
          <p>2F  粮油干货</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="twotab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="twotab2 tab clearfix">
                        
                   
                  
                         </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="twotab3 clearfix">
                      
              </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor2 -->

   </div><!-- clearfix -->


</div>

<!-- *三楼********************************************************* -->
<div class="floor"  id="f3">
    <div class="center">
    <div class="floor3 clearfix"> 
         <div class="onefcarf">
          <p>3F  休闲食品</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="threetab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="threetab2 tab clearfix">
                        
                   
                  
                         </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="threetab3 clearfix">
                      
              </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor2 -->

   </div><!-- clearfix -->








</div>
<!-- ******************************************************************** -->
<!-- *四楼********************************************************* -->
<div class="floor"  id="f4">
   <div class="center">
    <div class="floor4 clearfix"> 
         <div class="onefcarf">
          <p>4F  肉禽蛋奶</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="fourtab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="fourtab2 tab clearfix">
                        
                   
                  
                         </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="fourtab3 clearfix">
                      
              </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor2 -->

   </div><!-- clearfix -->








</div>

<!-- *5楼********************************************************* -->
<div class="floor"  id="f5">
    <div class="center">
    <div class="floor5 clearfix"> 
         <div class="onefcarf">
          <p>5F  环球美食</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="fivetab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="fivetab2 tab clearfix">
                        
                   
                  
                         </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="fivetab3 clearfix">
                      
              </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor2 -->

   </div><!-- clearfix -->






</div>
<!-- *6楼********************************************************* -->
<div class="floor"  id="f6">
    <div class="center">
    <div class="floor6 clearfix"> 
         <div class="onefcarf">
          <p>6F  酒水茶饮</p> 
             <ul class="oneimgs">
                <li><a href="#"><img src="images/onez1.jpg"></a></li> 
                <li><a href="#"><img src="images/onez2.jpg"></a></li>
                <li><a href="#"><img src="images/onez3.jpg"></a></li>
             </ul>

         </div> <!-- onefcarf -->
<!-- ******** -->
         <div class="oneflist">
            <div class="onefhead clearfix">
              
                   <ul class="onetitle">
                     <li><span>当季热销</span></li>
                     <li><span>新品上市</span></li>
                     <li><span>生鲜特产</span></li>
                   </ul>
                   <div class="onefextend">
                          <a href="#">其他水果</a>
                          <a href="#">苹果</a>
                          <a href="#">奇异果/猕猴桃</a>
                          <a href="#">速冻食品</a>
                          <a href="#">大闸蟹</a>
                          <a href="#">其他海鲜水产</a>
                          <a href="#">橙子</a>
                   </div><!--  onefextend -->
              </div><!-- onefhead -->


             <ul class="ones clearfix">
                  <li>
                        <div class="sixtab tab clearfix">
                      
                      <div class="oneh1">
                           <a href="#"><img src="images/oneh1.jpg"></a>
                           <a href="#"><img src="images/oneh2.jpg"></a>
                       </div>
                       <div class="oneh2">
                         <a href="#"><img src="images/oneh3.jpg"></a>
                       </div>
                       <div class="oneh3">
                         <a href="#"><img src="images/oneh4.jpg"></a>
                         <a href="#"><img src="images/oneh4.jpg"></a>
                       </div>
                       <div class="oneh4">
                         <a href="#"><img src="images/oneh5.jpg"></a>
                         <a href="#"><img src="images/oneh5.jpg"></a>
                       </div> 
                  
              </div><!-- onetab -->
                  </li>


                  <li>
                          <div class="sixtab2 tab clearfix">
                        
                   
                  
                         </div><!-- onetab2 -->

                  </li>

                  <li>
                      <div class="sixtab3 clearfix">
                      
              </div> <!--onetab3 -->
          

                  </li>
             </ul> 

         </div><!-- oneflist -->
    </div><!-- floor2 -->

   </div><!-- clearfix -->






</div>

<!-- ***************************************** -->







<!-- 楼梯效果***************************************************************** -->
   <div id="lift">
      <ul class="lift_menu">
         <li ><b>1F</b><span style="display:block;">果蔬生鲜</span></li>
         <li ><b>2F</b><span>粮油干货</span></li>
          <li ><b>3F</b><span>休闲食品</span></li>
           <li ><b>4F</b><span>肉禽蛋奶</span></li>
            <li ><b>5F</b><span>环球美食</span></li>
             <li ><b>6F</b><span>酒水茶饮</span></li>
             <li ><b>顶部</b></li>
      </ul> 
   </div>




<!-- ****猜你喜欢******************************* *************************** -->
<div id="sugbuy" >
  <div class="center">
  <div class="sbuytitle clearfix"> 
      <p>猜你喜欢</p>
      <img src="images/likez.jpg">
      <div class="converbug">
         <span>换一换</span>
         <i></i>
      </div>
  </div>
<!--  -->
  <ul class="sbuy clearfix">
         
  </ul>

 </div> <!-- center -->
</div> <!-- sugbuy -->

<!-- 猜你喜欢模板*************************************************** -->
  <script type="text/html" id="like_list">
   <% 
    for (var i = 0; i < likepros.length; i++) {
      var prolike = likepros[i];
    %>
      <li class="sprod">
          <img src="<%= prolike.img %>">;
          <p><%=prolike.title%></p>
          <span>￥<i><%= prolike.price %></i>.<%=prolike.price1 %></span>
      </li>

    <%
     } 
    %>
</script>




<!-- **尾部***************************************************************** -->
<div id="footercon" >
 
</div>

<!-- 固定 区域***********************************************************-->
<div class="fixinfo">
   <div class="cart1">
      <i class="iconfont icon-cart"></i>
      <span>购</span>
      <span>物</span>
      <span>车</span>
      <p class="cartnum">0</p>
   </div>
   <div class="xin">
     <i class="iconfont icon-shoucang"></i>
     <p>我的收藏</p>
   </div> 
   <div class="history">
     <i class="iconfont icon-liulanjilu"></i>
     <p>浏览记录</p>
   </div> 
   <div class="man">
     <i class="iconfont icon-kefu"></i>
       <div class="manservice">
            <div class="online">
              <a href="#"> <i></i>
               在线咨询</a>
               <!-- <span>在线咨询</span> -->
            </div>
            <h1>
               <a href="#"><i></i>   售后服务电话</a>
              
            </h1>
            <h2>4000-266-357</h2>
            <h3>
               <a href="#"><i></i>    电话服务时间</a>
               
            </h3>
            <h4>
              8:45-20:30(工作日)<br>
              8:45-17:45(节假日)
            </h4>
       </div> 
   </div> 


    <div class="ferwei">
        
           <i class="iconfont icon-erweima"></i> 
           <div class="erfix">
              <img src="images/erfix.jpg">
              <p>扫描二维码</p>
           </div> 
    </div>
     
     <div class="retop">
        <i></i>
     </div>
</div>


<!-- ******************** -->



<!-- hot界面 模板***************************************************-->
<script type="text/html" id="hotshow_prod">
    
    <%
       for (var i = 0; i < hot1pros.length; i++) {
           var hotp1 = hot1pros[i];
    %>
                 <div class="hpro"> 
                       <span><%=hotp1.t1 %></span><b><%=hotp1.t2 %></b>
                       <p><%=hotp1.info %></p>
                       <div class="showimg">
                            <p>￥<i><%=hotp1.price %></i>.<%=hotp1.zero %></p>
                       </div>
                            <div class="hcart">
                              <span><i class="iconfont icon-gouwuche">  </i>加入购物车</span>
                           </div>
                </div>
      <%
         }
      %>

   </script>


<script type="text/html" id="hotshow_prod2">
 
    <%
       for (var i = 0; i < hot2pros.length; i++) {
           var hotp2 = hot2pros[i];
    %>
                 <div class="hpro"> 
                       <span><%=hotp2.t1 %></span><b><%=hotp2.t2 %></b>
                       <p><%=hotp2.info %></p>
                       <div class="showimg">
                            <p>￥<i><%=hotp2.price %></i>.<%=hotp2.zero %></p>
                       </div>
                            <div class="hcart">
                              <span><i class="iconfont icon-gouwuche">  </i>加入购物车</span>
                           </div>
                  </div>
      <%
         }
      %>


</script>


<script type="text/html" id="hotshow_prod3">
 
    <%
       for (var i = 0; i < hot3pros.length; i++) {
           var hotp3 = hot3pros[i];
    %>
                 <div class="hpro"> 
                       <span><%=hotp3.t1 %></span><b><%=hotp3.t2 %></b>
                       <p><%=hotp3.info %></p>
                       <div class="showimg">
                            <p>￥<i><%=hotp3.price %></i>.<%=hotp3.zero %></p>
                       </div>
                            <div class="hcart">
                              <span><i class="iconfont icon-gouwuche">  </i>加入购物车</span>
                           </div>
                  </div>
      <%
         }
      %>
</script>

<!-- ********************************************************** -->







<!-- ******************************************************************************************************************************************************* -->

<!-- ************* -->
 
 
<!-- 1f的2tab的里面数据 *************************************************-->
<script type="text/html" id="oneshow2">
         <%
            for(var i=0;i<onefloor2.length;i++){
              var ones2=onefloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="oneshow3">
         <%
            for(var i=0;i<onefloor3.length;i++){
              var ones3=onefloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<!-- 2f的2.3tab的里面数据*********************************************** -->
<script type="text/html" id="twoshow2">
         <%
            for(var i=0;i<twofloor2.length;i++){
              var ones2=twofloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="twoshow3">
         <%
            for(var i=0;i<twofloor3.length;i++){
              var ones3=twofloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>


<!-- 3f的2.3tab的里面数据****************************************************** -->
<script type="text/html" id="threeshow2">
         <%
            for(var i=0;i<threefloor2.length;i++){
              var ones2=threefloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="threeshow3">
         <%
            for(var i=0;i<threefloor3.length;i++){
              var ones3=threefloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<!-- 4f的2.3tab的里面数据 *************************************************-->
<script type="text/html" id="fourshow2">
         <%
            for(var i=0;i<fourfloor2.length;i++){
              var ones2=fourfloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="fourshow3">
         <%
            for(var i=0;i<fourfloor3.length;i++){
              var ones3=fourfloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>


<!-- 5f的2.3tab的里面数据 *************************************************-->
<script type="text/html" id="fiveshow2">
         <%
            for(var i=0;i<fivefloor2.length;i++){
              var ones2=fivefloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="fiveshow3">
         <%
            for(var i=0;i<fivefloor3.length;i++){
              var ones3=fivefloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<!--6f的2.3tab的里面数据 *************************************************-->
<script type="text/html" id="sixshow2">
         <%
            for(var i=0;i<sixfloor2.length;i++){
              var ones2=sixfloor2[i];
         %>
                    <div class="s1">
                              <img src="<%=ones2.imgs1 %>">
                              <p><%=ones2.info %></p>
                              <h3>￥<span><%=ones2.pri1 %></span>.<%=ones2.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>

<script type="text/html" id="sixshow3">
         <%
            for(var i=0;i<sixfloor3.length;i++){
              var ones3=sixfloor3[i];
         %>
                    <div class="s1">
                              <img src="<%=ones3.imgs1 %>">
                              <p><%=ones3.info %></p>
                              <h3>￥<span><%=ones3.pri1 %></span>.<%=ones3.pri2 %></h3>
                                <div class="onescart">
                                  <span><i class="iconfont icon-gouwuche"></i>  
                                  加入购物车</span>
                                </div>
                  </div>
        <%
              }
        %>

</script>


<script type="text/javascript">










</script>










</body>
</html>